
<p>
I just wanted to say <em style="color: green; font-size: 2em;"><%= greeting %>, <%= name %></em>.
</p>

<form>
  <p>Would you like to do that again?</p>
  <input type="submit" name="send" value ="Ok!">
</form>
